<a href="https://colab.research.google.com/github/balashiva0011/Introduction-to-python-pandas/blob/main/Python__BASIC_PROBLEM_SOLVING_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic python Problem Sloving

In [1]:
# calculator project

# Greeting
# print("Welcome to the addition_calc")
num1 = int(input("Enter first number :") )
num2 = int(input("Enter second number :"))

result = num1 + num2
print(f"{num1} + {num2} = {result}")

Enter first number :10
Enter second number :15
10 + 15 = 25

In [3]:

story = input("Please enter story ")

# Deleting all extra leading and trailing space
clean_story = story.strip()

# "   I my name is john i like to writing python code    "

# converted the string into list
store_list = clean_story.split(' ')

# counting the number of word
result = len(store_list)

# displaying the outcome
print(f"The number of count in the store is {result}")

Please enter story my name is balashiva
The number of count in the store is 4

In [4]:
intems = input("Please enter items name separating by commas :")

# item convered into list
intems_list = intems.strip().split(',')

# print(intems_list)
# # type casting
intems_unique = set(intems_list)

item_unique_list = list(intems_unique)

# # Show unique items list
print(f"Thank you for entering items here is your unique list of items {item_unique_list}")

Please enter items name separating by commas :patoto, tamato, chilli, sauces, bread, milk, milk, milk, sauces, sauces
Thank you for entering items here is your unique list of items [' sauces', ' milk', ' chilli', ' bread', 'patoto', ' tamato']

In [25]:
## Convert a product name to uppercase:
#Change the name of the T-shirt product to uppercase using string functions.
# convert iPhone to upper case based on key


ecommerce_store = {
    "Electronics": {
        101: {"name": "Smartphone", "price": 699.99, "stock": 50},
        102: {"name": "Laptop", "price": 999.99, "stock": 30}
    },
    "Clothing": {
        201: {"name": "T-shirt", "price": 19.99, "stock": 200},
        202: {"name": "Jeans", "price": 39.99, "stock": 150}
    }
}

# print(ecommerce_store["Electronics"][102])

# new_product = (105, "iPhone", 1299, "stock": 25)

prod_info = input("Enter product info sep (,) :").strip().split(",")

# data cleaning converting product id to int
prod_info[0]= int(prod_info[0])

# print(prod_info)
new_product = prod_info

# 102: {"name": "Laptop", "price": 999.99, "stock": 30}
# [105,'iPhone','1299','5']
# adding new product

ecommerce_store["Electronics"][new_product[0]] = {
                                                    "name":new_product[1].upper(),
                                                    "price": new_product[2],
                                                    "stock": new_product[3]}

# printing output
print(f"Product added {new_product[1]} successfully also stock updated {new_product[3]}")
print(ecommerce_store)

Enter product info sep (,) :105,iphone,1299,25
Product added iphone successfully also stock updated 25
{'Electronics': {101: {'name': 'Smartphone', 'price': 699.99, 'stock': 50}, 102: {'name': 'Laptop', 'price': 999.99, 'stock': 30}, 105: {'name': 'IPHONE', 'price': '1299', 'stock': '25'}}, 'Clothing': {201: {'name': 'T-shirt', 'price': 19.99, 'stock': 200}, 202: {'name': 'Jeans', 'price': 39.99, 'stock': 150}}}

In [26]:
ecommerce_store["Electronics"][new_product[0]]

{'name': 'IPHONE', 'price': '1299', 'stock': '25'}