<a href="https://colab.research.google.com/github/balashiva0011/Introduction-to-python-pandas/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Mini Project**

Tempearture Data analysis
Generate random Temperature data for 30 days and calculate the mean, Median, and standard deviations of the Tempearture over the month. find the days with  tempearture above the  average.

In [1]:
import numpy as np

In [5]:
# 30 day of random values
weather=np.random.uniform(22,38,30)
weather

array([34.24359751, 30.83176909, 33.50912453, 37.43737247, 30.10446809,
       24.120544  , 24.77587975, 22.64652123, 26.09088535, 34.09311141,
       30.67417634, 31.39390446, 29.95729935, 28.90354103, 27.42441529,
       33.62525954, 36.138396  , 37.89638914, 34.18004539, 27.97630974,
       34.39499831, 27.0450362 , 35.87416926, 29.21213733, 35.66224662,
       36.66316011, 22.69247519, 37.20409297, 33.42175108, 32.26287166])

In [7]:
w_mean = np.mean(weather)
print(w_mean)

31.34853161473285

In [9]:
w_median=np.median(weather)
print(w_median)

31.82838806411017

In [10]:
w_std=np.std(weather)
print(w_std)

4.421503033011541

In [11]:
hot_days = weather[weather > w_mean]
hot_days

array([34.24359751, 33.50912453, 37.43737247, 34.09311141, 31.39390446,
       33.62525954, 36.138396  , 37.89638914, 34.18004539, 34.39499831,
       35.87416926, 35.66224662, 36.66316011, 37.20409297, 33.42175108,
       32.26287166])